@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, -5px) rotate(-1deg);
  }
  50% {
    transform: translate(-5px, 5px) rotate(1deg);
  }
  75% {
    transform: translate(3px, -3px) rotate(-0.5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}